#swagger-ui-container {
  font-family: Droid Sans, Noto Sans, Open Sans, sans-serif;
  margin-top: 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  .base-url, .parameter__default, .parameter__name, .url {
    font-family: Ubuntu Mono, SF Mono, Segoe UI Mono, Roboto Mono, Inconsolata, Monaco, Menlo, Consolas, Courier New, monospace;
  }

  .col {
    padding: 14px 46px;
    border-radius: 4px;
  }

  .col_header {
    font-weight: bold;
  }

  .expand-operation, .info .title, .parameter__in {
    display: none;
  }

  .highlight-code pre {
    color: darkmagenta;
  }

  .opblock-body {
    background-color: #e7f0f7;
    border: 1px solid #c3d9ec;
    border-top: none;
    padding: 30px;

    td {
      border-bottom: 1px solid #cccccc;
    }
  }

  .opblock-control__btn, .try-out__btn {
    background: linear-gradient(whitesmoke, lightgrey);
    border: 1px solid darkgrey;
    margin: 10px 0px;
  }

  .opblock-get {
    margin-bottom: 10px;
  }

  .opblock-tag {
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;

    .opblock-tag-section {
      font-size: 0.9em;
    }

    small {
      display: none;
    }
  }


  .opblock-title {
    color: #0f6ab4;
    font-size: 1.1em;
    line-height: normal;
  }

  .opblock-summary-get {
    background-color: #e7f0f7;
    border: 1px solid #c3d9ec;
    cursor: pointer;
    font-size:1.1em;
    line-height: 1.1em;

    .opblock-summary-method {
      background-color: #0f6ab4;
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      font-size: 0.7em;
      padding: 5.5px 0px;
      text-align: center;
      width: 50px;
    }

    .opblock-summary-path {
      margin-left: 16px;
      vertical-align: middle;

      a {
        color: black;
      }
    }
  }

  .response-col_description pre {
    min-width: 220px;
    max-width: 720px;
    overflow: scroll;
    width: 80vw;
  }

  @media screen and (max-width: 991px) {
    .response-col_description pre {
      max-width: 490px;
    }
  }

  @media screen and (max-width: 699px) {
    .response-col_description pre {
      max-width: 435px;
    }
  }

  @media screen and (max-width: 640px) {
    .response-col_status {
      padding-left: 0px;
    }

    .response-col_description pre {
      max-width: 450px;
    }
  }

  @media screen and (max-width: 569px) {
    .response-col_description pre {
      max-width: 380px;
    }
  }

  @media screen and (max-width: 499px) {
    .response-col_description pre {
      max-width: 310px;
    }
  }

  @media screen and (max-width: 429px) {
    .response-col_description pre {
      max-width: 240px;
    }
  }

  @media screen and (max-width: 359px) {
    .response-col_description {
      padding-left: 10px;
    }
  }

  .response-col_status {
    padding-right: 0px;
  }

  .parameter__name {
    font-weight: bold;
    text-transform: capitalize;
  }
/*
  .table-container, .responses-inner {
    background-color: white;
  }
*/
  pre {
    background-color: #fcf6db;
    border: 1px solid #e5e0c6;
  }

  select {
    font-weight: normal;
  }
}
